@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p><br>

    <form>
        <label for="foodType">Type of food:</label><br>
        <input type="text" id="foodType" name="foodType"><br><br>
        <button type="submit" formaction="/Results"></button>
    </form>
</div>
